# $OpenBSD: sshd_config,v 1.80 2008/07/02 02:24:18 djm Exp $
#
# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.
#
# This sshd was compiled with PATH=/usr/local/bin:/bin:/usr/bin
#
# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options change a
# default value.
#
Port <%=scope['ssh::port'] %>
AddressFamily <%=scope['ssh::addressfamily'] %>
ListenAddress <%=scope['ssh::listenaddressip4'] %>
ListenAddress <%=scope['ssh::listenaddressip6'] %>

# Disable legacy (protocol version 1) support in the server for new
# installations. In future the default will change to require explicit
# activation of protocol 1
Protocol <%=scope['ssh::protocol'] %>

# Hostkey for protocol version 1
Hostkey <%=scope['ssh::protocolonehostkey'] %>
# Hostkeys for protocol version 2
Hostkey <%=scope['ssh::protocoltwohostkeyrsa'] %>
Hostkey <%=scope['ssh::protocoltwohostkeydsa'] %>

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval <%=scope['ssh::keyregenerationinterval'] %>
ServerKeyBits <%=scope['ssh::serverkeybits'] %>

# Logging
# obsoletes QuietMode and FascistLogging
SyslogFacility <%=scope['ssh::syslogfacility'] %>
LogLevel <%=scope['ssh::level'] %>

LoginGraceTime <%=scope['ssh::logingracetime'] %>
PermitRootLogin <%=scope['ssh::permitrootlogin'] %>
StrictModes <%=scope['ssh::strictmodes'] %>
MaxAuthTries <%=scope['ssh::maxauthtries'] %>
MaxSessions <%=scope['ssh::maxsessions'] %>
#
RSAAuthentication <%=scope['ssh::rsaauthentication'] %>
PubkeyAuthentication <%=scope['ssh::pubkeyauthentication'] %>
AuthorizedKeysFile <%=scope['ssh::authorizedkeysfile'] %>


# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
RhostsRSAAuthentication <%=scope['ssh::rhostsrsaauthentication'] %>
# similar for protocol version 2
HostbasedAuthentication <%=scope['ssh::hostbasedauthentication'] %>
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
IgnoreUserKnownHosts <%=scope['ssh::ignoreuserknownhosts'] %> 
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts <%=scope['ssh::ignorerhosts'] %>

# To disable tunneled clear text passwords, change to no here!
PermitEmptyPasswords <%=scope['ssh::permitemptypasswords'] %>
PasswordAuthentication <%=scope['ssh::passwordauthentication'] %>
#
# Change to no to disable s/key passwords
ChallengeResponseAuthentication <%=scope['ssh::challengeresponseauthentication'] %>
#
# Kerberos options
KerberosAuthentication <%=scope['ssh::kerberosauthentication'] %>
KerberosOrLocalPasswd <%=scope['ssh::kerberosorlocalpasswd'] %>
KerberosTicketCleanup <%=scope['ssh::kerberosticketcleanup'] %>
KerberosUseKuserok <%=scope['ssh::kerberosusekuserok'] %>
#
# GSSAPI options
GSSAPIAuthentication <%=scope['ssh::gssapiauthentication'] %>
GSSAPICleanupCredentials <%=scope['ssh::gssapicleanupcredentials'] %>
GSSAPIStrictAcceptorCheck <%=scope['ssh::gssapistrictacceptorcheck'] %>
GSSAPIKeyExchange <%=scope['ssh::gssapikeyexchange'] %>
#
# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
# 
UsePAM <%=scope['ssh::usepam'] %>
#
# Accept locale-related environment variables
AcceptEnv <%=scope['ssh::acceptenv1'] %> 
AcceptEnv <%=scope['ssh::acceptenv2'] %> 
AcceptEnv <%=scope['ssh::acceptenv3'] %> 
AcceptEnv <%=scope['ssh::acceptenv4'] %> 
#
AllowAgentForwarding <%=scope['ssh::allowagentforwarding'] %>
AllowTcpForwarding <%=scope['ssh::allowtcpforwarding'] %>
GatewayPorts <%=scope['ssh::gatewayports'] %>
X11Forwarding <%=scope['ssh::x11forwarding'] %>
X11DisplayOffset <%=scope['ssh::x11displayoffset'] %>
X11UseLocalhost <%=scope['ssh::x11uselocalhost'] %>
PrintMotd <%=scope['ssh::printmotd'] %>
PrintLastLog <%=scope['ssh::printlastlog'] %>
TCPKeepAlive <%=scope['ssh::tcpkeepalive'] %>
#
UseLogin <%=scope['ssh::uselogin'] %>
UsePrivilegeSeparation <%=scope['ssh::useprivilegeseparation'] %>
PermitUserEnvironment <%=scope['ssh::permituserenvironment'] %>
ClientAliveInterval <%=scope['ssh::clientaliveinterval'] %>
ClientAliveCountMax <%=scope['ssh::clientalivecountmax'] %>
ShowPatchLevel <%=scope['ssh::showpatchlevel'] %>
UseDNS <%=scope['ssh::usedns'] %>
PidFile <%=scope['ssh::pidfile'] %>
MaxStartups <%=scope['ssh::maxstartups'] %>
PermitTunnel <%=scope['ssh::permittunnel'] %>
ChrootDirectory <%=scope['ssh::chrootdirectory'] %>

# no default banner path
Banner <%=scope['ssh::banner'] %>

# override default of no subsystems
Subsystem   <%=scope['ssh::subsystem'] %>

# Example of overriding settings on a per-user basis
#Match User anoncvs
#       X11Forwarding no
#       AllowTcpForwarding no
#       ForceCommand cvs server
#
Match User <%=scope['ssh::user1'] %>
    ChrootDirectory <%=scope['ssh::user1chrootdir'] %>
    ForceCommand <%=scope['ssh::user1forcecomm'] %>

Match User <%=scope['ssh::user2'] %>
    ChrootDirectory <%=scope['ssh::user2chrootdir'] %>
    ForceCommand <%=scope['ssh::user2forcecomm'] %>

Match User <%=scope['ssh::user3'] %>
    ChrootDirectory <%=scope['ssh::user3chrootdir'] %>
    ForceCommand <%=scope['ssh::user3forcecomm'] %>
